---
import { Mail } from "lucide-astro";
---

<section class="mx-auto flex w-full max-w-xl flex-col">
  <header class="flex justify-center">
    <h2
      class="mb-4 flex items-center gap-x-2 text-lg font-semibold text-foreground"
    >
      <Mail class="size-5" /> Contact
    </h2>
  </header>
  <p class="mx-auto max-w-80 text-pretty text-center text-muted-foreground">
    Want to work with me? Or just say hi? Reach me via
    <a
      href="mailto:bjohansebas@gmail.com"
      class="font-semibold text-primary transition-colors duration-300 ease-linear hover:text-primary/80"
    >
      email
    </a>
  </p>
</section>
