---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const description = t("landing.hero.description");
const parts = description.split(/<highlight>|<\/highlight>/);
---

<header class="mt-2 flex flex-col gap-4">
  <div class="flex w-full flex-col gap-y-4">
    <div
      class="flex w-full flex-row flex-wrap items-center justify-between gap-y-3"
    >
      <div class="flex items-center gap-4">
        <Image
          src="https://avatars.githubusercontent.com/u/103585995?v=4"
          width={75}
          height={75}
          alt="Sebastian Beltran"
          class="h-[75px] w-[75px] rounded-full border"
          decoding="async"
          loading="eager"
        />
        <div class="flex flex-col">
          <h1 class="font-semibold">Sebastian Beltran</h1>
          <h2 class="text-muted-foreground">{t("landing.hero.role")}</h2>
        </div>
      </div>
      <a
        href="https://www.linkedin.com/in/bjohansebas/"
        aria-label="Go to linkedin"
        class="items-center-center flex rounded-full text-sm font-medium"
      >
        <div class="absolute flex h-8 w-8">
          <span
            class="absolute top-1.5 h-2 w-2 animate-ping rounded-full bg-green-500 opacity-75"
          ></span>
          <span class="relative top-1.5 h-2 w-2 rounded-full bg-green-500"
          ></span>
        </div>
        <span class="ml-4">{t("landing.hero.available")}</span>
      </a>
    </div>
    <p class="text-muted-foreground">
      {
        parts.map((part, index) =>
          index % 2 === 1 ? (
            <span class="font-semibold text-primary">{part}</span>
          ) : (
            part
          ),
        )
      }
    </p>
  </div>
</header>
