<header class="flex gap-4 flex-col">
  <h1 class="text-4xl text-balance font-bold tracking-wide">
    👋 Hey, I'm Sebastian
  </h1>
  <h2 class="text-xl text-muted-foreground text-pretty">
    <span class="text-primary font-semibold">Full-stack developer</span>,
    specializing in web service development. I love contributing to and building <span
      class="text-primary font-semibold">open-source</span
    > projects.
  </h2>
</header>
