<header class="mx-auto flex max-w-4xl flex-col gap-4">
  <h1 class="text-balance text-3xl font-bold tracking-wide">
    👋 Hey, I'm Sebastian
  </h1>
  <h2 class="text-pretty text-xl text-muted-foreground">
    <span class="font-semibold text-primary">Full-stack developer</span>,
    specializing in web service development. I love contributing to and building <span
      class="font-semibold text-primary">open-source</span
    > projects.
  </h2>
</header>
