---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";
import {
  AtSign,
  Github,
  Twitter,
  Linkedin,
  Contact2,
  NotepadTextDashed,
} from "lucide-astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const SOCIAL_MEDIA = [
  { name: "Github", href: "https://github.com/bjohansebas", icon: Github },
  { name: "Twitter", href: "https://x.com/bjohansebas", icon: Twitter },
  {
    name: "Linkedin",
    href: "https://www.linkedin.com/in/bjohansebas/",
    icon: Linkedin,
  },
  { name: "Contact", href: "mailto:bjohansebas@gmail.com", icon: AtSign },
];
---

<header class="mx-auto flex max-w-xl flex-col gap-4">
  <div class="flex w-full flex-col gap-y-4">
    <div
      class="flex w-full flex-row flex-wrap items-center justify-between gap-y-3"
    >
      <div class="flex gap-3">
        <Image
          src="https://avatars.githubusercontent.com/u/103585995?v=4"
          width={100}
          height={100}
          alt="Sebastian Beltran"
          class="h-[48px] w-[48px] rounded-full border"
          decoding="async"
          loading="eager"
        />
        <div class="flex flex-col">
          <h1 class="font-semibold">Sebastian Beltran</h1>
          <h2 class="text-muted-foreground">Full-stack Developer</h2>
        </div>
      </div>
      <a
        href="https://www.linkedin.com/in/bjohansebas/"
        aria-label="Go to linkedin"
        class="items-center-center flex rounded-full text-sm font-medium"
      >
        <div class="absolute flex h-8 w-8">
          <span
            class="absolute top-1.5 h-2 w-2 animate-ping rounded-full bg-green-500 opacity-75"
          ></span>
          <span class="relative top-1.5 h-2 w-2 rounded-full bg-green-500"
          ></span>
        </div>
        <span class="ml-4">Available for freelance</span>
      </a>
    </div>
    <div class="mt-2 flex gap-3">
      {
        SOCIAL_MEDIA.map(({ name, href, ...social }) => (
          <a
            title={
              name !== "Contact"
                ? t("see.network", {
                    name: "Sebastian Beltran",
                    network: name,
                  })
                : t("see.email", {
                    name: "Sebastian Beltran",
                    email: "bjohansebas@gmail.com",
                  })
            }
            href={href}
            target="_blank"
            class="group relative inline-flex h-9 w-9 items-center justify-center overflow-hidden rounded-md border border-muted-foreground bg-card font-medium text-muted-foreground transition-all duration-300 hover:w-28 hover:rounded-full hover:border-primary hover:text-primary"
          >
            <div class="absolute right-[8px]">
              {
                <social.icon
                  class="size-4 text-inherit"
                  aria-label={`${name} icon`}
                />
              }
            </div>
            <div class="inline-flex whitespace-nowrap text-sm opacity-0 transition-all duration-200 group-hover:-translate-x-3 group-hover:opacity-100">
              {name}
            </div>
          </a>
        ))
      }

      <a
        href={"/cv"}
        class="flex h-9 w-28 items-center gap-2 rounded-md border border-muted-foreground bg-card px-4 font-medium text-muted-foreground transition-all duration-300 hover:border-primary hover:text-primary"
      >
        <div>
          <NotepadTextDashed class="size-4" />
        </div>
        <div class="inline-flex whitespace-nowrap text-sm">Resume</div>
      </a>
    </div>
  </div>
  <h2 class="mt-2 flex items-center gap-x-2 text-balance text-lg font-semibold">
    <Contact2 class="size-5" />About me
  </h2>
  <p class="text-muted-foreground">
    Hi! I'm Sebastian, a <span class="font-semibold text-primary"
      >Full-stack developer</span
    > with experience in web application development. I'm passionate about contributing
    to and building <span class="font-semibold text-primary"
      >open-source projects</span
    >. I love exploring new technologies and finding creative solutions to
    development challenges.
  </p>
</header>
