---
import { AtSign, Github, Twitter, Linkedin, Contact2 } from "lucide-astro";

const SOCIAL_MEDIA = [
  { name: "Github", href: "https://github.com/bjohansebas", icon: Github },
  { name: "Twitter", href: "https://twitter.com/bjohansebas", icon: Twitter },
  {
    name: "Linkedin",
    href: "https://www.linkedin.com/in/bjohansebas/",
    icon: Linkedin,
  },
  { name: "Contact", href: "mailto:bjohansebas@gmail.com", icon: AtSign },
];
---

<header class="mx-auto flex max-w-2xl flex-col gap-4">
  <div
    class="flex w-full flex-col space-y-4 md:flex-row md:items-center md:justify-between md:space-y-0"
  >
    <div class="flex flex-row items-center space-x-3">
      <img
        src="https://avatars.githubusercontent.com/u/103585995?v=4"
        width={100}
        height={100}
        alt="Sebastian Beltran"
        class="h-[48px] w-[48px] rounded-full border"
      />
      <div class="flex flex-col">
        <h1 class="font-semibold">Sebastian Beltran</h1>
        <h2 class="text-muted-foreground">Full-stack Developer</h2>
      </div>
    </div>
    <div class="mt-2 flex gap-3">
      {
        SOCIAL_MEDIA.map(({ name, href, ...social }) => (
          <a
            aria-label={`Go to ${name}`}
            href={href}
            target="_blank"
            class="flex items-center gap-2 rounded-md border bg-card px-2 py-2 text-sm text-muted-foreground transition-all hover:border-primary hover:text-card-foreground"
          >
            {
              <social.icon
                class="size-4 text-inherit"
                aria-label={`${name} icon`}
              />
            }
          </a>
        ))
      }
    </div>
  </div>
  <h2 class="mt-2 flex items-center gap-x-2 text-balance text-lg font-semibold">
    <Contact2 class="size-5" />About me
  </h2>
  <p class="text-pretty text-muted-foreground">
    Hi! I'm Sebastian, a <span class="font-semibold text-primary"
      >Full-stack developer</span
    > with experience in web application development. I'm passionate about contributing
    to and building <span class="font-semibold text-primary"
      >open-source projects</span
    >. I love exploring new technologies and finding creative solutions to
    development challenges.
  </p>
</header>
