---
import Section from "../Section.astro";

import { basics } from "@cv/es.json";
const { summary } = basics;
---

<Section title="Sobre mí">
  <p class="text-muted-foreground">
    {summary}
  </p>
</Section>
