---
import type { CollectionEntry } from "astro:content";

type Props = {
  summary: CollectionEntry<"cv">["data"]["basics"]["summary"];
};

const { summary } = Astro.props;
---

<p class="text-sm text-muted-foreground">
  {summary}
</p>
