---
import type { CollectionEntry } from "astro:content";

type Props = {
  languages: CollectionEntry<"cv">["data"]["languages"];
};

const { languages } = Astro.props;
---

<ul class="flex gap-4">
  {
    languages.map(({ language, fluency }, idx) => (
      <>
        {idx < languages.length && idx > 0 ? (
          <span class="text-primary" aria-hidden="true">
            •
          </span>
        ) : null}
        <li class="">
          <span class="font-semibold">{language}:</span>
          {fluency}
        </li>
      </>
    ))
  }
</ul>
