---
import type { CollectionEntry } from "astro:content";

type Props = {
  languages: CollectionEntry<"cv">["data"]["languages"];
};

const { languages } = Astro.props;
---

<ul class="flex flex-col gap-1">
  {
    languages.map(({ language, fluency }) => (
      <li class="">
        <span class="font-semibold">{language}:</span>
        {fluency}
      </li>
    ))
  }
</ul>
