---
import HTML from "@ui/icons/html.astro";
import JavaScript from "@ui/icons/javascript.astro";
import TypeScript from "@ui/icons/typescript.astro";
import React from "@ui/icons/react.astro";
import Node from "@ui/icons/node.astro";
import { default as Next } from "@ui/icons/nextjs.astro";
import Tailwind from "@ui/icons/tailwind.astro";
import Git from "@ui/icons/git.astro";

import type { CollectionEntry } from "astro:content";

type Props = {
  skills: CollectionEntry<"cv">["data"]["skills"];
};

const { skills } = Astro.props;

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  JavaScript,
  TypeScript,
  React,
  Node,
  Next,
  Tailwind,
  Git,
};
---

<ul class="inline-flex flex-wrap gap-2">
  {
    skills.map((name) => {
      const iconName = name === "Next.js" ? "Next" : name;
      const Icon = SKILLS_ICONS[iconName];

      return (
        <li class="flex items-center gap-1 rounded-md border border-solid bg-muted px-3 py-2 text-sm font-medium text-muted-foreground print:text-gray-700">
          {Icon && <Icon class="size-5" />} <span class="text-xs">{name}</span>
        </li>
      );
    })
  }
</ul>
