---
export const prerender = true;

import Layout from "@/layouts/main.astro";
import Hero from "@/components/landing/Hero.astro";
import OpenSource from "@ui/landing/OpenSource.astro";
import Sponsors from "@ui/landing/Sponsors.astro";

import { LANGUAGES } from "@/i18n/ui";
import { defaultLang, showDefaultLang } from "@/i18n/utils";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
  return Object.keys(LANGUAGES).map((lang) => {
    const realPath =
      defaultLang === lang && !showDefaultLang ? undefined : lang;

    return { params: { lang: realPath } };
  });
}) satisfies GetStaticPaths;
---

<Layout class="mx-auto mt-8 h-full max-w-[75ch] px-2">
  <Hero />
  <main class="my-8 flex flex-col gap-y-6">
    <OpenSource />
    <Sponsors />
    <!-- <Projects /> -->
  </main>
</Layout>
