---
import Section from "../Section.astro";

import { languages } from "@cv/es.json";
---

<Section title="Idiomas">
  <ul class="flex flex-col gap-1">
    {
      languages.map(({ language, fluency }) => (
        <li class="">
          <span class="font-semibold">{language}:</span>
          {fluency}
        </li>
      ))
    }
  </ul>
</Section>
