---
import Section from "../Section.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Next from "@/icons/next.astro";
import { skills } from "@cv/es.json";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  Git,
  GitHub,
  Next,
  Tailwind,
};
---

<Section title="Habilidades" class:list={className}>
  <ul class="inline-flex flex-wrap gap-2">
    {
      skills.map((name) => {
        const iconName = name === "Next.js" ? "Next" : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li class="flex items-center gap-1 rounded-md bg-slate-200 px-3 py-1 text-sm font-medium">
            {Icon && <Icon />} <span class="text-xs">{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>
