---
export const prerender = true;

import Layout from "@/layouts/main.astro";
import Hero from "@/components/landing/Hero.astro";
import OpenSource from "@ui/landing/OpenSource.astro";
---

<Layout class="mx-auto mt-8 h-full max-w-[75ch]">
  <Hero />
  <main class="my-8 flex flex-col gap-y-6">
    <OpenSource />
    <!-- <Projects /> -->
  </main>
</Layout>
