---
import Layout from "@/layout/Layout.astro";
import Hero from "@/components/landing/Hero.astro";
import Projects from "@/components/landing/Projects.astro";
---

<Layout
  title="Sebastian Beltran"
  description="Hi! I'm Sebastian, a Full-stack developer with experience in web application development"
>
  <Hero />
  <main class="mt-10">
    <Projects />
  </main>
</Layout>
