---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
  class="no-print mt-auto border-t bg-card px-4 py-4 text-card-foreground"
>
  <p>{t("footer.text")}</p>
</footer>
