---
const { navLinks = [], socials = [] } = Astro.props;
---

<div
  class="absolute right-0 mx-auto mt-2 max-w-[75ch] rounded-md border bg-background p-4 shadow-md"
>
  <nav class="flex flex-col gap-2">
    {
      navLinks.map(({ name, href }) => (
        <a
          href={href}
          class="block rounded px-3 py-2 font-medium text-foreground hover:bg-muted"
        >
          {name}
        </a>
      ))
    }
  </nav>
  <div class="mt-3 flex gap-2">
    {
      socials.map(({ name, href, ...social }) => (
        <a
          href={href}
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 rounded px-3 py-2 text-muted-foreground hover:bg-muted"
        >
          {<social.icon class="size-4" />}
        </a>
      ))
    }
  </div>
</div>
