---
export const prerender = true;

import { defaultLang, showDefaultLang } from "@/i18n/utils";
import Layout from "@/layouts/main.astro";
import { format } from "date-fns";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const blog = await getCollection("blog");

  return blog.map((post) => {
    const parts = post.id.split("/");
    let lang: string;
    let id: string;

    if (parts.length > 1) {
      lang = parts[0];
      id = parts.slice(1).join("/");
    } else {
      lang = defaultLang;
      id = parts[0];
    }

    const realLang =
      defaultLang === lang && !showDefaultLang ? undefined : lang;
    return { params: { lang: realLang, id }, props: { post } };
  });
}

const { post } = Astro.props;

const { data } = post;
const { Content } = await render(post);
---

<Layout>
  <div class="mx-auto mt-8 w-full p-16 pt-0 max-[700px]:p-8">
    <header class="mx-auto w-full max-w-prose text-center">
      <time class="code text-astro-gray-200" datetime={data.date.toISOString()}>
        {format(data.date, "MMMM d, yyyy")}
      </time>
      <h1
        class="font-heading md:heading-2 mb-4 mt-2 text-5xl leading-tight sm:mb-5 sm:mt-3"
      >
        {data.title}
      </h1>
    </header>
    <article class="prose">
      <Content />
    </article>
  </div>
</Layout>
