---
export const prerender = true;
import Layout from "@/layouts/main.astro";
import Sponsors from "@ui/landing/Sponsors.astro";

import { getCollection, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import { defaultLang, showDefaultLang } from "@/i18n/utils";

export const getStaticPaths = (async () => {
  const posts = await getCollection("oss");

  const paths = posts.map((post) => {
    const parts = post.id.split("/");
    let lang: string;
    let id: string;

    if (parts.length > 1) {
      lang = parts[0];
      id = parts.slice(1).join("/");
    } else {
      lang = defaultLang;
      id = parts[0];
    }

    const realLang =
      defaultLang === lang && !showDefaultLang ? undefined : lang;

    return {
      params: { lang: realLang, id },
      props: { post },
    };
  });

  return paths;
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <h1>{post.data.title}</h1>
  <Content />
  <Sponsors />
</Layout>
