---
import Layout from "@/layouts/main.astro";

import About from "@ui/cv/About.astro";
import Education from "@ui/cv/Education.astro";
// import Experience from "@ui/cv/Experience.astro"
import Hero from "@ui/cv/Hero.astro";
import Projects from "@ui/cv/Projects.astro";
import Skills from "@ui/cv/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { basics } from "@cv/es.json";
import Languages from "@ui/cv/Languages.astro";
const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} - ${label}`} description="" class="pt-0">
  <main class="mx-auto w-full max-w-3xl p-16 pt-0 max-[700px]:p-8">
    <Hero />
    <About />
    <!-- <Experience /> -->
    <Education />
    <Projects />
    <div class="grid grid-cols-3 gap-2">
      <Languages />
      <Skills class="col-span-2" />
    </div>
  </main>

  <KeyboardManager />
</Layout>
