---
import "@fontsource/geist-sans/400.css";
import "@fontsource/geist-sans/600.css";
import "@fontsource/geist-sans/700.css";

interface Props {
  title: string;
  description: string;
  lang?: string;
}

const { title, lang, description } = Astro.props;
---

<!doctype html>
<html lang={lang ?? "en-US"}>
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
  </head>
  <body>
    <div class="fixed left-0 top-0 -z-10 h-full w-full">
      <div
        class="absolute top-0 z-[-2] h-screen w-screen bg-background bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(182,198,198,0.3),rgba(255,255,255,0))]"
      >
      </div>
    </div>
    <div class="px-4 pb-5 pt-16 lg:px-10">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --background: #030b0e;
    --foreground: hsl(198, 10%, 97.1%);
    --card: hsl(198, 45%, 5.46%);
    --card-foreground: hsl(198, 10%, 97.1%);
    --popover: hsl(198, 45%, 5.46%);
    --popover-foreground: hsl(198, 10%, 97.1%);
    --primary: hsl(198, 100%, 42%);
    --primary-foreground: hsl(198, 9.1%, 5.300000000000001%);
    --secondary: hsl(198, 50%, 12.6%);
    --secondary-foreground: hsl(198, 10%, 97.1%);
    --muted: hsl(198, 50%, 12.6%);
    --muted-foreground: hsl(193.8, 18.8%, 86.5%);
    --accent: hsl(198, 50%, 12.6%);
    --accent-foreground: hsl(198, 10%, 97.1%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(198, 50%, 12.6%);
    --input: hsl(198 50% 12.6%);
    --ring: hsl(198 100% 42%);
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    font-family: "Geist Sans", system-ui, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overscroll-behavior: none;
  }
</style>
